<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- <app-navbar [favTeamclick]="onAppFavset"></app-navbar> -->
<app-navbar></app-navbar>
<app-odds></app-odds>
<!-- <app-team-stats [favouriteTeam] ="favouriteTeam"></app-team-stats> -->
<app-team-stats [favouriteTeam]="3"></app-team-stats>
<router-outlet></router-outlet>
